<div class="container-fluid vh-100 p-0">
    <div class="row flex-nowrap">
        <!-- sidebar  %20 olmalı -->
        <div class="bg-light" style="width: 20%; height: 100%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 w-100">
            
            <h6 class="text-dark mb-4" style="text-align: center;">Filters</h6>
            
            <input type="text" class="form-control mb-2" placeholder="Bina Adı">
            
            <input type="text" class="form-control mb-2" placeholder="Şehir">
            
            <input type="text" class="form-control mb-3" placeholder="İlçe">
            
            <button class="btn btn-secondary w-100" (click)="applyFilter()">Filtrele</button>
        
            </div>
        </div>
  
        <!-- main %80 -->
        <div class="col py-3" style="width: 80%; height: 100%;">
            <!-- header -->
            <header class="d-flex justify-content-between align-items-center pb-3 mb-4 border-bottom" style="width: 100% !important; height: 10% !important;">
                <input type="text" class="form-control w-50" placeholder="Arama yap...">

                <div class="btn-group">
                    <div class="operations me-2">
                        <button type="button" class="btn btn-danger dropdown-toggle" id="operationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Operasyonlar
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="operationsDropdown">
                            <li *ngFor="let operation of operations" (click)="onItemClick(operation)">
                                <a class="dropdown-item" href="#">{{ operation.name }}</a>
                            </li>
                        </ul>
                    </div>
                
                    <div class="simulations me-2">
                        <button type="button" class="btn btn-danger dropdown-toggle" id="simulationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Simülasyonlar
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="simulationDropdown">
                            <li *ngFor="let simulation of simulations" (click)="onItemClick(simulation)">
                                <a class="dropdown-item" href="#">{{ simulation.name }}</a>
                            </li>
                        </ul>
                    </div>
                
                    <div class="reports">
                        <button type="button" class="btn btn-danger dropdown-toggle" id="reportsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Raporlar
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
                            <li *ngFor="let report of reports" (click)="onItemClick(report)">
                                <a class="dropdown-item" href="#">{{ report.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                  
            </header>
            <!-- map -->
            <body style="width: 100% !important; height: 80% !important;">
                <div id="map" style="height: 500px; border: 2px solid red; overflow: hidden;"></div>
            </body>
            <!-- footer  -->
            <footer class="footer mt-auto py-3 bg-light" style="width: 100% !important; height: 10% !important;">
                <div class="container text-center">
                    <span class="text-muted">Tüm hakları saklıdır © 2025</span>
                </div>
            </footer>
        </div>
    </div>
</div>
