<div class="welcome-container text-center d-flex flex-column justify-content-center align-items-center">
    <img src="assets/images/amfy-logo-5.png" alt="Amfy Logo" class="welcome-logo mb-4" />
    <h1 class="welcome-title">Hoş Geldiniz!</h1>
    <p class="welcome-subtitle">Afet ile Mücadele ve Faal Yönetim Sistemi</p>
    <div class="btn-group mt-4">
      <a [routerLink]="['/map']" class="btn btn-outline-danger px-4 py-2">Haritaya Git</a>
      <a routerLink="/reports" class="btn btn-outline-danger px-4 py-2">Raporları Gör</a>
    </div>
  </div>
  