<!-- Login Yapısı -->
<form class="border" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <img src="https://i.pinimg.com/originals/82/c6/5b/82c65b9bb0a75026fc4c82a438b4cc9b.jpg" alt="">
  </div>
  <div class="form-group row mt-3">
    <div class="text-center">
        <h3 class="mt-1">{{'LOGIN' | translate}}</h3>
        <hr style="width:50%; margin: auto;">
    </div>
</div>
  <div class="form-group row mt-1">
    <label style="margin-top: 5%;"><small>{{'EMAIL' | translate}}</small></label>
    <input class="form-control border-top-0 border-end-0 border-2 border-start-0 border-dark rounded-0" 
    type="text" style="border: 1px solid bottom!important;"
    placeholder="{{ 'PLEASE_ENTER_EMAIL' | translate }}" id="username" name="username" class="form-control" formControlName="email">
    <small class="required-color" *ngIf="showError && (loginForm.controls.email.invalid || loginForm.controls.email.errors?.required)">{{ 'REQUIRED_INPUT' | translate }}</small>
  </div>
  <div class="form-group row mt-2">
    <label><small>{{'PASSWORD' | translate}}</small></label>
    <input class="form-control mt-2 border-top-0 border-end-0 border-2 border-start-0 border-dark rounded-0" formControlName="password"
    type="password" placeholder="{{ 'PLEASE_ENTER_PASSWORD' | translate }}"
    id="password" name="password" class="form-control">
    <small class="required-color" *ngIf="showError && loginForm.controls.password.errors?.required">{{ 'REQUIRED_INPUT' | translate }}*</small>
    <small class="required-color" *ngIf="showError && loginForm.controls.password.invalid && !loginForm.controls.password.errors?.required">{{ 'PASSWORD_RULES' | translate }}*</small>
  </div>
  <div class="form-group row mt-2">
    <div class="form-check col align-items-center d-flex">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label small text-dark mt-1" for="flexCheckDefault" style="margin-left:5px;">
        {{ 'REMEMBER_ME' | translate }}
      </label> 
    </div>
    <div class="form-check col align-items-center text-end"><a [routerLink]="['/auth/resetPassword']">
        <span class="display-inline text-dark small" id="forgot_password">{{ 'FORGOT_PASSWORD' | translate }}</span></a></div>
  </div>
  <div class="form-group row mt-2">
    <div class="d-grid gap-2 mt-2">
      <button class="button btn btn-danger" type="submit">{{ 'LOGIN' | translate }}</button>
    </div>
    <div class="d-grid gap-2 mt-2">
      <button class="button btn btn-light" type="submit" [routerLink]="['/auth/register']">{{ 'NOT_A_REMEMBER_YET' | translate }}</button>
    </div>
  </div>
  <!-- <div class="form-group row mt-2">
    <div class="col-6 align-items-center btn btn-light language" [ngClass]="{
      'language-background-red':currentLanguage === 'tr',
      'language-background-white':currentLanguage === 'en'}" (click)="changeLanguage('tr')">
      <img style="width: auto; height: auto;" src="assets/images/languages-flag/tr.svg" alt="{{ 'TURKISH' | translate }}" class="flag-icon">
      &nbsp;<small>{{ 'TURKISH' | translate }}</small>
    </div>
    <div class="col-6 align-items-center btn btn-light language" [ngClass]="{
      'language-background-red':currentLanguage === 'en',
      'language-background-white':currentLanguage === 'tr'}" (click)="changeLanguage('en')">
      <img style="width: auto; height: auto;" src="assets/images/languages-flag/gb-eng.svg" alt="{{ 'ENGLISH' | translate }}" class="flag-icon">
      &nbsp;<small>{{ 'ENGLISH' | translate }}</small>
    </div>
  </div> -->
</form>

<!-- language dropdown -->
<!-- <div class="col-4">
  <div class="dropdown">
    <button class="btn btn-light language dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Language
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
      <li><a class="dropdown-item" href="#"><img style="width: auto; height: auto;" src="assets/images/languages-flag/tr.svg" alt="Türkçe" class="flag-icon"> Türkçe</a></li>
      <li><a class="dropdown-item" href="#"><img style="width: auto; height: auto;" src="assets/images/languages-flag/gb-eng.svg" alt="English" class="flag-icon"> English</a></li>
    </ul>
  </div>
</div> -->

