body,html {
    height:100vh!important;
    width:100vw;
    font-family: 'Quicksand', sans-serif!important;
    letter-spacing: 1px;
    padding:0;
}

.form-control {
    transition: none!important;
}

a {
    text-decoration: none!important;
}

input::placeholder {
    font-size: smaller;
}
