body,html {
    height:100vh!important;
    width:100vw;
    font-family: 'Quicksand', sans-serif!important;
    letter-spacing: 1px;
    padding:0;
}

input::placeholder {
    font-size: smaller;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
    transition: none!important;
}

a {
    text-decoration: none!important;
}

.required-color {
    color: #de3535;
}